.page1{

  
}
.page1 img{
    position: absolute;
}
.page1 img:nth-of-type(1){
 box-sizing: border-box;
 position: absolute;
 height: 3.0rem;
    left: 0.7rem;
    top: 1.3rem;
}
.page1 img:nth-of-type(2){
    box-sizing: border-box;
 position: absolute;
 width: 3.75rem;
}
.page1 img:nth-of-type(3){
    box-sizing: border-box;
 position: absolute;
 top: 1.5rem;
}.page1 img:nth-of-type(4){
    box-sizing: border-box;
 position: absolute;
 width: 3.75rem;
    bottom: 0rem;

}.page1 img:nth-of-type(5){
    box-sizing: border-box;
 position: absolute;
 bottom: 0.9rem;
    right: 0rem;
}
.page2{

}
.page2 img{
    position: absolute;
}
.page2 img:nth-of-type(1){
    box-sizing: border-box;
 position: absolute;
 width: 3.75rem;
}
.page2 img:nth-of-type(2){
    box-sizing: border-box;
 position: absolute;
 top: 1.5rem;
}.page2 img:nth-of-type(3){
    box-sizing: border-box;
 position: absolute;
 width: 3.75rem;
    bottom: 0rem;

}.page2 img:nth-of-type(4){
    box-sizing: border-box;
 position: absolute;
 bottom: 0.9rem;
    right: 0rem;
}
.page2 img:nth-of-type(5){
    box-sizing: border-box;
 position: absolute;
 width: 1.5rem;
    left: 1.2rem;
    top: 1.5rem;
}
.page2 img:nth-of-type(6){
    box-sizing: border-box;
 position: absolute;
 width: 1.0rem;
    right: 0.6rem;
    top: 3.0rem;
}.page2 img:nth-of-type(7){
    box-sizing: border-box;
 position: absolute;
 width: 1.2rem;
    left: 0.6rem;
    top: 3.0rem;
    height: 1.8rem;
}
.page3{

}
.page3 img{
    position: absolute;
}
.page3 img:nth-of-type(1){
    box-sizing: border-box;
 position: absolute;
 width: 3.75rem;
}
.page3 img:nth-of-type(2){
    box-sizing: border-box;
 position: absolute;
 top: 1.5rem;
}.page3 img:nth-of-type(3){
    box-sizing: border-box;
 position: absolute;
 width: 3.75rem;
    bottom: 0rem;

}.page3 img:nth-of-type(4){
    box-sizing: border-box;
 position: absolute;
 bottom: 0.9rem;
    right: 0rem;
}
.page3 img:nth-of-type(5){
    box-sizing: border-box;
 position: absolute;
 width: 1.3rem;
    left: 1.2rem;
    top: 1.3rem;

}
.page3 img:nth-of-type(6){
    box-sizing: border-box;
 position: absolute;
 width: 1.3rem;
    right: 0.4rem;
    top: 3.3rem;
}.page3 img:nth-of-type(7){
    box-sizing: border-box;
 position: absolute;
 left: 0.5rem;
    top: 3.3rem;
    width: 1.3rem;
}
.page4{

}
.page4 img{
    position: absolute;
}
.page4 img:nth-of-type(1){
    box-sizing: border-box;
 position: absolute;
 width: 3.75rem;
}
.page4 img:nth-of-type(2){
    box-sizing: border-box;
 position: absolute;
 top: 1.5rem;
}.page4 img:nth-of-type(3){
    box-sizing: border-box;
 position: absolute;
 width: 3.75rem;
    bottom: 0rem;

}.page4 img:nth-of-type(4){
    box-sizing: border-box;
 position: absolute;
 bottom: 0.9rem;
    right: 0rem;
}
.page4 img:nth-of-type(5){
    box-sizing: border-box;
 position: absolute;
 width: 1.3rem;
    left: 1.2rem;
    top: 1.3rem;
}
.page4 img:nth-of-type(6){
    box-sizing: border-box;
 position: absolute;
 left: 0.5rem;
    top: 3.3rem;
    width: 1.3rem;
}.page4 img:nth-of-type(7){
    box-sizing: border-box;
 position: absolute;
 width: 1.3rem;
    right: 0.4rem;
    top: 3.3rem;
}
.page5{

}
.page5 img{
    position: absolute;
}
.page5 img:nth-of-type(1){
    box-sizing: border-box;
 position: absolute;
 width: 3.75rem;
}
.page5 img:nth-of-type(2){
    box-sizing: border-box;
 position: absolute;
 top: 1.5rem;
}.page5 img:nth-of-type(3){
    box-sizing: border-box;
 position: absolute;
 width: 3.75rem;
    bottom: 0rem;

}.page5 img:nth-of-type(4){
    box-sizing: border-box;
 position: absolute;
 bottom: 0.9rem;
    right: 0rem; }
    .page5 text{
    box-sizing: border-box;
    position: absolute;
    }